<launch>
<node pkg="rosserial_python" type="serial_node.py" name="arduino">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="57600"/>
</node>

<node pkg="roboguide" type="ticks2odom.py" name="base_odom_node"/>
<node pkg="roboguide" type="cmd2ack.py" name="twist2ackermann"/> 

<node pkg="tf" type="static_transform_publisher" name="scan_base_link" args="0 0 0 0 0 0 /base_link /laser_frame 100"/> 

</launch>
