<launch>
  <include file="$(find roboguide)/launch/include/rs_t265.launch">
    <arg name="initial_reset" value="true" />
    <arg name="publish_odom_tf" value="false" />
    <arg name="pose_frame_id" value="base_link" />
    <arg name="odom_frame_id" value="odom" />
  </include>
  <!-- Launch PID Controls -->
  <node name="rear_wheel_pid" pkg="pid" type="controller" >
    <param name="Kp" value=".5" />
    <param name="Ki" value="0.25" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="10" />
    <param name="lower_limit" value="-50" />
    <param name="windup_limit" value="11" />
  </node>
  <!-- Launch Arduino Connection -->
  <node pkg="roboguide" type="driver.py" name="base_controller" />
  <!-- Launch Hyper IMU Connection -->
  <node pkg="roboguide" type="phone.py" name="phone_controller">
    <param name="host" value="$(optenv ROS_IP)"/>
  </node>

  <include file="$(find astra_camera)/launch/astra.launch" />
</launch>
